.calc {
  display: grid;
  grid-gap: 10px;
}

.attack-result {
  grid-row: 1;
  grid-column: 1;
  margin-top: 0px;
}

.retaliation-result {
  grid-row: 1;
  grid-column: 2;
  margin-top: 0px;
}

.attacking {
  grid-row: 2;
  grid-column: 1;
}

.defending {
  grid-row: 2;
  grid-column: 2;
}

.creatures {
  margin-left: 20px;
  margin-right: 20px;
  grid-row: 2;
  grid-column: 3;
}

.creature-banks {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  text-align: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
